body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.Portrait {
  .chevron {
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 38px;
    width: 100%;
    padding-bottom: 6px;

    svg {
      height: 100%
    }
  }
}

.OuterFooter
{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: bisque;

  div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .FooterButton {
    border: 2px solid red;
    font-size: small;
  }
}

.collapsed 
{
  height: 23px;

  .Footer 
  {
    display: none;
  }  
}

.expanded 
{
  height: 260px;

  .Footer
  {
    display: visible;
  }
}
