body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.Portrait {
  .chevron {
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 38px;
    width: 38px;
    left: calc(50% - 19px);
    padding-bottom: 6px;

    svg {
      height: 100%
    }
  }
}

.OuterFooter
{
  position: fixed;
  padding-top: 18px;
  bottom: 0px;
  width: 100%;
  background-color: bisque;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
  .FooterButton {
    border: 2px solid orange;
    border-radius: 6px;
    font-size: small;
    margin-top: 5px;
    height: 32px;
    line-height: 26px;
   }

   .buttonNavDivider {
     height: 4px;
   }

   .navRow .FooterButton {
    width: 80px;
    left: calc(50% - 40px);
    position: relative;
   }
}

.collapsed 
{
  height: 23px;
  transition: height 500ms ease 0ms; 
}

.expanded 
{
  height: 324px;
  transition: height 500ms ease 0ms; 
}
