.App p {
    text-align: center;
  }
  
  @media only screen and ( min-width: 768px )
  {
    .App .Portrait
    {
      display: none;
    }
  }
  
  @media only screen and ( max-width: 767px )
  {
    .App .Landscape
    {
      display: none;
    }
  }
  
  